In [49]:
#tabular Data
import numpy as np
import pandas as pd
df = pd.DataFrame(
    {
        "name":["ali","mohammad","sara"],
        "Age":[20,27,18],
        "sex":["Male","Male","Female"]
    }
)
# print(df)
# print("-----------")
# print(df["name"])
# ages = pd.Series([22,33,25],name = "Age") 
# df["Age"].max()
# df.describe()
s = pd.DataFrame(np.random.randn(1000,5),columns = ['a','b','c','d','e'])
pd.Series(['a','a','a','b','b','b',np.nan,'b']).describe()
frame = pd.DataFrame(
    {
        "a":['y','y','y','n'],
        "b": range(4)
    }

)
frame.describe(include = "number")#for textual data
frame.describe(include = "object")#for numberical data
frame.describe(include = "all")#for both numberical and texual data

# argmin and argmax in numpy ~ idxmin and idxmax in pandas
# s1 = pd.Series(np.random.randn(5))
#  print(s1)
# print(s1.idxmax,s1.idxmin)


df1 = pd.DataFrame(np.random.randn(5,3),columns = ["A","B","C"])
print(df1.idxmin(axis = 0))
print(df1.idxmax(axis = 1))
df1

A    1
B    2
C    1
dtype: int64
0    A
1    B
2    C
3    B
4    A
dtype: object

          A         B         C
0  0.475185 -0.162189  0.452264
1 -0.203925  0.314403 -2.316372
2  0.732758 -0.655816  0.754057
3  0.652915  1.224377  0.601860
4  0.885541  0.342521  0.295338