In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
se = pd.Series([1,2,3,4])
se

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
se_list =se.to_list()
print(type(se),type(se_list))
print(se , se_list)

<class 'pandas.core.series.Series'> <class 'list'>
0    1
1    2
2    3
3    4
dtype: int64 [1, 2, 3, 4]

In [4]:
se1 = pd.Series([2, 4, 6, 8, 10])
se2 = pd.Series([1, 3, 5, 7, 9])
se_p = se1 + se2 # plus series
se_mi = se1 - se2 # minus series
se_mu = se1 * se2 # multiply series
se_div = se1 / se2 # divide series

# DataFrame 
ser_calc = {
    "se1":se1,
    "se2":se2,
    "se_plus":se_p,
    "se_minus":se_mi,
    "se_multiply":se_mu,
    "se_div":se_div
}
df = pd.DataFrame(data =ser_calc)
df

   se1  se2  se_plus  se_minus  se_multiply    se_div
0    2    1        3         1            2  2.000000
1    4    3        7         1           12  1.333333
2    6    5       11         1           30  1.200000
3    8    7       15         1           56  1.142857
4   10    9       19         1           90  1.111111

In [5]:
# compare two Series
print(se1 == se2)
print(se1 > se2)
print(se1 < se2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
# convert dictionary to series in pandas 
friends = {
    "Name" : ["Kimia","Sarah","Dorsa"],
    "Family" : ["Jireh" , "Frahani" , "Jamal"],
    "Age" : [18,19,20]
}
ser_friends = pd.Series(friends)
ser_friends

Name        [Kimia, Sarah, Dorsa]
Family    [Jireh, Frahani, Jamal]
Age                  [18, 19, 20]
dtype: object

In [7]:
# convert a NumPy array to a Pandas series
ar = np.arange(2,10)
ser_np = pd.Series(ar)
ser_np

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32

In [8]:
# convert the a column of a DataFrame as a series
df_firends = pd.DataFrame(friends)
friends_Names = pd.Series(df_firends["Name"])
friends_Names

0    Kimia
1    Sarah
2    Dorsa
Name: Name, dtype: object

In [9]:
# convert a given Series to an array
favorite_lang = pd.Series(["python","java","Django","Kotlin"])
np.array(favorite_lang.values.tolist())

array(['python', 'java', 'Django', 'Kotlin'], dtype='<U6')

In [10]:
# sort a given Series
ex_sort = pd.Series(['100', '200', 'python', '300.12', '400'])
ex_sort = ex_sort.sort_values()
ex_sort

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [11]:
# add some data to an existing Series
data_1 = pd.Series(["ali",'mirash',20])
data_2 = pd.Series(["student"])
pd.concat([data_1,data_2],ignore_index = True)

0        ali
1     mirash
2         20
3    student
dtype: object

In [12]:
# create a subset of a given series based on value and condition
books = pd.Series(["Data Structure","Data Mining","Python","Java"])
books[books.str.len() < 7]
books[0:2]

0    Data Structure
1       Data Mining
dtype: object

In [13]:
# change the order of index of a given series
alphabet = pd.Series(["A","B","C","D","E","F","J"])
alphabet.reindex(index = [5,2,3,4,6,1,0])

5    F
2    C
3    D
4    E
6    J
1    B
0    A
dtype: object

In [14]:
#  create the mean and standard deviation of the data of a given Series
grades = pd.Series([17,18.63,14.80,15,17.75,18.5,20,19.25,19.21,18])
print(f"mean of the grades: {grades.mean()}")
print(f"Standard devision of grades: {grades.std()}")

mean of the grades: 17.814
Standard devision of grades: 1.7521428150822764

In [15]:
# get the items of a given series not present in another given series
price_1 = pd.Series([23,62,15,80,20])
price_2 = pd.Series([62,15,97,84,63])
res = price_1[~price_1.isin(price_2)]
res

0    23
3    80
4    20
dtype: int64

In [16]:
# get the items which are not common of two given series
score_1 = pd.Series([82,34,67,100,52])
score_2 = pd.Series([75,68,90,67,58])
# not_both = pd.concat([score_1[~score_1.isin(score_2)],score_2[~score_2.isin(score_1)]],ignore_index = True) # method_1
scr1 = pd.Series(np.union1d(score_1,score_2))
scr2 = pd.Series(np.intersect1d(score_1,score_2))
not_both = scr1[~scr1.isin(scr2)]
not_both

0     34
1     52
2     58
4     68
5     75
6     82
7     90
8    100
dtype: int64

In [17]:
# compute the minimum, 25th percentile, median, 75th, and maximum of a given series
num_state = np.random.RandomState(100)
num_ser = pd.Series(num_state.normal(10,4,2))
# print(num_ser.describe()) # method 1
result = np.percentile(num_ser , [0,25,50,75,100])
result

array([ 3.00093811,  5.09338398,  7.18582986,  9.27827574, 11.37072161])

In [18]:
# display most frequent value in a given series and replace everything else as 'Other' in the seriesðŸ˜•
fre_num = pd.Series(np.random.randint(1,5,size = [15]))
val_count = fre_num.value_counts()
ress = fre_num[~fre_num.isin(val_count[:1].index)] = "Other"
ress #ðŸ˜•

'Other'

In [19]:
# Find the positions of numbers that are multiples of 5 of a given series
mult_num = pd.Series(np.random.randint(1,9,size = [15]))
lmul = np.where(mult_num % 5 == 0)
lmul

(array([13, 14], dtype=int64),)

In [20]:
# extract items at given positions of a given series
ex_ser = pd.Series(np.random.randint(0,9,size = 21))
ex_num = ex_ser.take([6,8,2,4,16])
ex_num

6     5
8     1
2     0
4     4
16    5
dtype: int32

In [21]:
# get the positions of items of a given series in another given series
num_1 = pd.Series(np.arange(1,11))
num_2 = pd.Series([5,9,2,7,1])
ss = num_1[num_1.isin(num_2)].index.to_list()
# result = [pd.Index(num_1).get_loc(i) for i in num_2] # method 2
ss

[0, 1, 4, 6, 8]

In [22]:
# convert the first and last character of each word to upper case in each word of a given series
language = pd.Series(["python","java","php","c#","kotlin","javascript"])
up_ch = language.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper()) 
up_ch

0        PythoN
1          JavA
2           PhP
3            C#
4        KotliN
5    JavascripT
dtype: object

In [23]:
# calculate the number of characters in each word in a given series
language = pd.Series(["python","java","php","c#","kotlin","javascript"])
len_ch = language.map(lambda x : len(x))
len_ch

0     6
1     4
2     3
3     2
4     6
5    10
dtype: int64

In [24]:
# compute difference of differences between consecutive numbers of a given series
school_num = pd.Series([25,47,38,10,19,28])
dif1 = school_num.diff().to_list()
dif2 = school_num.diff().diff().to_list()
dif1,dif2

([nan, 22.0, -9.0, -28.0, 9.0, 9.0], [nan, nan, -31.0, -19.0, 37.0, 0.0])

In [25]:
# convert a series of date strings to a timeseries
times = pd.Series(["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
pd.to_datetime(times)

# get the day of month, day of year, week number and day of week from a given series of date strings
from dateutil.parser import parse
times = times.map(lambda x: parse(x))
days = times.dt.day.tolist()
days

[1, 2, 7, 6, 12, 6]

In [26]:
# filter words from a given series that contain atleast two vowels
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
color_series[result]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [27]:
# compute the Euclidean distance between two given series
x = pd.Series([6,8,2,11,2,7,3,9,2])
y = pd.Series([2,8,6,4,11,25,3,6,7])
res = np.linalg.norm(x-y)
res

22.80350850198276

In [50]:
# replace missing white spaces in a given string with the least frequent character
alpha_ser = pd.Series(list("abc dead acdi"))
frg = alpha_ser.value_counts()
res = alpha_ser.replace({" ":frg.index[-1]})
res.head()

0    a
1    b
2    c
3    i
4    d
dtype: object

In [49]:
# create a TimeSeries to display all the Sundays of given year
time_ser = pd.Series(pd.date_range("2020-01-05" ,periods=52 , freq='W-SUN'))
time_ser.head()

0   2020-01-05
1   2020-01-12
2   2020-01-19
3   2020-01-26
4   2020-02-02
dtype: datetime64[ns]

In [72]:
# convert given series into a dataframe with its index as another column on the dataframe
split_myName = pd.Series(["A","L","I"])
len_name = np.arange(len(split_myName))
df_n = pd.DataFrame({"split_name":split_myName , "index":len_name})
df_n

  split_name  index
0          A      0
1          L      1
2          I      2

In [71]:
# check the equality of two given series
Number1 = pd.Series([3,9,8,9,3,1,7,9,5])
Number2 = pd.Series([9,3,8,4,3,5,6,7,0])
Number1 == Number2

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [65]:
# find the index of the first occurrence of the smallest and largest value of a given series
num_ran = pd.Series(np.random.randint(0,99,35))
num_ran.idxmin() , num_ran.idxmax()

(14, 9)

In [83]:
# check inequality over the index axis of a given dataframe and a given series
df_ch = pd.DataFrame({
    "W" : [68,75,86,80,None],
    "X" : [78,75,None,80,86],
    "Y" : [84,94,89,86,86],
    "Z" : [86,97,96,72,83]
})
ser_ch = pd.Series([68, 75, 86, 80, None])
df_ch.ne(ser_ch , axis = 0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True